<!DOCTYPE html>
<html>
<head>
    <title>Testing 3D rendering</title>
    <style>
        canvas { width: 100%; height: 100% }
    </style>
</head>
<body>
    <h1>With three.js</h1>
    <canvas id="obj"></canvas>

    <!-- Must be in separate tag -->
    <!-- <script src="https://threejs.org/build/three.js"></script> -->
<!--     <script src="/static/three.js"></script>
    <script src="/static/OrbitControls.js"></script>
    <script src="/static/OBJLoader2.js"></script> -->
    <script src="/static/test-3D.js"></script>
</body>
</html>