/* Virtual Canvas specific */
#c {
  /* Not fixed or else the rendering will slide around during scrolling */
  position: absolute;
  /* Makes sure the canvas' top and left are at the top and left of its ancestor */
  left: 0;
  top: 0;
  /* Makes sure the width/height will not change */
  /* vw includes scrollbars so the horizontal scroll is added to allow the viewer
     to see under the vertical scroll - this somehow causes an infinite scrolling
     bug that is fixed when there is no horizontal scroll bar */
  width: 100vw !important;
  max-width: 100%;
  /* or simply width: 100%; */
  height: 100vh !important;
  display: block;
  /* So it will be behind other elements */
  z-index: -1;
}

.mediaElement, .media {
  /* Border-box considers padding and borders in the calculation of height/width
     BUT not margins */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaElement {
  /* Padding instead of margin because margins will break the flex format (will
     cause the divs to wrap because they are too big - see border-box above) */
  padding: 1px;
}

.media {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}


/* Responsiveness */

@media(min-width: 1200px){ /* XL */
  .mediaElement{
    flex: 0 0 25%;
    height: 300px;
  }
}

@media(max-width: 1200px){ /* L */
  .mediaElement{
    flex: 0 0 33%;
    height: 300px;
  }
}

@media(max-width: 992px){ /* M */
  .mediaElement{
    flex: 0 0 33%;
    height: 300px;
  }
}

@media(max-width: 768px){ /* S */
  .mediaElement{
    flex: 0 0 50%;
    height: 200px;
  }
}

@media(max-width: 576px){ /* XS */
  .mediaElement{
    flex: 0 0 100%;
    height: 200px;
  }
}


/* Extra button on Navbar styling */

.my-button {
  background-color: rgb(220, 220, 220);
  margin: 0px 10px;
  border-radius: 5px;
  /* Makes the button not inherit thus being smaller vertically */
  line-height: normal;
  padding: 1px 6px;
  color: rgb(50, 50, 50);
  font-family: 'Baskervville', serif;;
}


/* User information */

.user {
  display: flex;
  margin: 15px 0px;
  background: rgba(220, 220, 220, 0.8);
  border: 1px black solid;
}

.avatarAndUsername {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.img-container {
  display: flex;
  /* Will grow to fill the rest of the .inside height and width */
  flex: 1 1 auto;
}

.img-container img {
  /* Fill the container */
  height: 100%;
  width: 100%;
}

.username {
  display: flex;
  /* Will push the child text to the center of the div */
  justify-content: center;
  color: black;
  font-weight: bold;
}

.info {
  display: flex;
  flex: 1 0 50%;
  margin: 0px 15px;
  color: black;
}