/* Virtual Canvas specific */
#c {
  /* Not fixed or else the rendering will slide around during scrolling */
  position: absolute;
  /* Makes sure the canvas' top and left are at the top and left of its ancestor */
  left: 0;
  top: 0;
  /* Makes sure the width/height will not change */
  width: 100vw !important;
  height: 100vh !important;
  display: block;
  /* So it will be behind other elements */
  z-index: -1;
}

.mediaElement, .media{
  /* Border-box considers padding and borders in the calculation of height/width
     BUT not margins */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaElement {
  /* Padding instead of margin because margins will break the flex format (will
     cause the divs to wrap because they are too big) */
  padding: 1px;
}

.media{
  border: 1px solid black;
  width: 100%;
  height: 100%;
}


/* Responsiveness */

@media(min-width: 1200px){ /* XL */
  .mediaElement{
    flex: 0 0 25%;
    height: 400px;
  }
}

@media(max-width: 1200px){ /* L */
  .mediaElement{
    flex: 0 0 33%;
    height: 300px;
  }
}

@media(max-width: 992px){ /* M */
  .mediaElement{
    flex: 0 0 33%;
    height: 300px;
  }
}

@media(max-width: 768px){ /* S */
  .mediaElement{
    flex: 0 0 50%;
    height: 200px;
  }
}

@media(max-width: 576px){ /* XS */
  .mediaElement{
    flex: 0 0 100%;
    height: 200px;
  }
}


/* Navbar */

.my-button {
  margin: 0px 5px;
  border-radius: 5px;
  /* Makes the button not inherit thus being smaller vertically */
  line-height: normal;
  padding: 1px 6px;
}