body {
  /*center both horizontally and vertically*/
  background: url(/static/francisco-delgado-unsplash.jpg) no-repeat;
  background-position: center;
  background-size: cover;
 /* Unless this property is here, the image will sometimes not cover the whole page*/
  height: 100%;
  min-height: 100vh;
  position: relative;
}

#content {
  display: flex;
  flex-wrap: wrap;
  /* The padding bottom matches the margin-top of the footer */
  padding-bottom: 50px;
   /* The flex equivalent of text-align */
  justify-content: center;
}

.artist-data {
  width: 200px;
  min-height: 200px;
  border: 1px black solid;
  margin: 3px;
  display: flex;
  align-items: flex-end;
  background: rgba(240, 240, 240, .8);
}

a.link {
  /* To stretch to the div size and has flex in case */
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
}

a.link:hover {
  text-decoration: none;
}

.inside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
}

.img-container {
  display: flex;
  /* Will grow to fill the rest of the .inside height and width */
  flex: 1 1 auto;
}

.img-container img {
  /* Fill the container */
  height: 100%;
  width: 100%;
}

.text {
  display: flex;
  /* Will push the child text to the center of the div */
  justify-content: center;
  color: rgb(0, 5, 68);
}

label {
  /*For readability*/
  font-weight: bold;
  color: rgba(45, 45, 45);
} 

.artist {
  /* Sets the bottom of the span to the bottom of the body (the parent) */
  position: absolute;
  bottom: 0px;
  margin-top: -50px;
  color: rgb(67.5, 67.5, 67.5);
}

select {
  background: rgba(240, 240, 240, 1);
  color: rgb(67.5, 67.5, 67.5);
}

.pageLabel {
  color: black;
}