<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <title>Base</title>
  {% endblock %}
</head>
<body>
  {% for message in get_flashed_messages() %}
    <h2>******{{message}}******</h2>
  {% endfor %}
    
  {% block button %}
    {% if session.get('user') %}
      <button><a href="/">Home</a></button>
      <button><a href="/upload">Upload</a></button>
      <button><a href="/settings">Settings</a></button>
      <button><a href="/logout">Logout</a></button>
    {% else %}
      <button><a href="/">Home</a></button>
      <button><a href="/login">Log In</a></button>
      <button><a href="/signup">Sign Up</a></button>
    {% endif %}
  {% endblock %}

  {% block body %}
    To be filled.
  {% endblock %}
</body>
</html>