{% extends 'base.html' %}

{% block head %}
  <title>{{user.username}}</title>
  <style>
    body {
      /* Jinja is the only one with access to the variable */
      background-image: url({{user.background_url}});
    }
  </style>
{% endblock %}

{% block otherCSS %}
  <link rel="stylesheet" type="text/css" href="/static/CSS/gallery.css"></link>
{% endblock %}

{% block button %}
{% endblock %}

{% block body %}
  <span class={{theUsername}} id="currentUser" hidden></span>
  <canvas id="c"></canvas>
  <div class={{user.username}} id="element"></div>
  <script src="/static/JS/gallery.js"></script>
{% endblock %}