{% extends 'base.html' %}

{% block head %}
  <title>{user.username}</title>
  <style> /*TO DO: MOVE TO CSS; */
    /*#thisImg{
   cursor: pointer;
    }*/
    body{ /*TO DO: CHANGE DEPENDING ON PAGE */
      background-image: url({{user.background_url}});
    }
    .mediaElement, .media{
      box-sizing: border-box;
      border: 1px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .media{
      flex: 0 0 100%;
      height: 100%;
    }

    @media(min-width: 1200px){ /* XL */
      .mediaElement{
        flex: 0 0 20%;
        height: 400px;
      }
    }

    @media(max-width: 1200px){ /* L */
    .mediaElement{
        flex: 0 0 25%;
        height: 300px;
      }
    }

    @media(max-width: 992px){ /* M */
    .mediaElement{
        flex: 0 0 33%;
        height: 300px;
      }
    }

    @media(max-width: 768px){ /* S */
    .mediaElement{
        flex: 0 0 50%;
        height: 200px;
      }
    }

    @media(max-width: 576px){ /* XS */
    .mediaElement{
        flex: 0 0 100%;
        height: 200px; /* aspect ration */
      }
    }

  </style>
{% endblock %}

{% block button %}
{% endblock %}

{% block body %}
  <h1>{{username}}</h1>
  <div class={{username}} id="element"></div>
  <script src="/static/JS/gallery.js"></script>
{% endblock %}