{% extends 'base.html' %}

{% block head %}
  <title>{{formatted_name}}</title>
{% endblock %}

{% block otherCSS %}
  <link rel="stylesheet" type="text/css" href="/static/CSS/mediapage.css"></link>
{% endblock %}

{% block body %}
  <h1>{{formatted_name}}</h1>
  <div class="page">
    <div id="content">
      {% if status == None %}
        <img src={{media.media_url}} class="{{media.media_url}}"
        id="image">
        <br>
        Themes<div id="colors"></div>
        <script src="/static/JS/vibrant.js"></script>
      {% endif %}

      {% if status == 'obj' %}
        <canvas class={{media.media_url}} id="obj"></canvas>
        <script src="/static/JS/obj-3D.js"></script>
      {% endif %}

      {% if status == 'obj+mtl' %}
        <canvas class="{{media.media_url}} {{media.mtl.mtl_url}}" id="objMtl"></canvas>
        <script src="/static/JS/obj-3D-mtl.js"></script>
      {% endif %}

      {% if status == 'gltf' %}
        <canvas class={{media.media_url}} id="gltf"></canvas>
        <script src="/static/JS/gltf-3D.js"></script>
      {% endif %}
    </div>

    <div class="mediaData">
      <div id="gallery">
        <a class="link" href="/gallery/{{user.username}}">
          <div class="inside">
            <div class="img-container">
              <img src={{user.avatar_url}}>
            </div>
            <div class="text">
              {{user.username}}
            </div>
          </div>
        </a>
      </div>
      {% if media.meta_info %}
        <div id="metadata">
          Info:
          {{media.meta_info}}
        </div>
      {% endif %}
      <div id="date">
        Date Created: {{formatted_date}}
      </div>
    </div>
  </div>
{% endblock %}