{% extends 'base.html' %}

{% block head %}
  <title>Settings</title>
{% endblock %}



{% block body %}
  <form action='/login-action' method="GET" class="form-login">
    <h3 class="form-heading">Please Login</h3>
    <div class="form-field">
      <label>Email Address
        <input type="text" name="email" required autofocus>
      </label>
    </div>
    <div class="form-field">
      <label>Password
        <input type="password" name="password" required>
      </label>
    </div>
    <div class="form-field">
      <label>Upload Avatar
        <input type="file" name="media"
        accept=".gif, .jpg, .jpeg, .png" required>
      </label>
    </div>
    <button class="btn-login" type="submit">Save</button>
  </form>
{% endblock %}