{% extends 'base.html' %}

{% block head %}
  <title>Settings</title>
  <link rel="stylesheet" type="text/css" href="static/CSS/form.css"></link>
{% endblock %}

{% block body %}
  <form action='/settings-action' method="POST" class="form-settings"
  enctype = "multipart/form-data">
    <h3 class="form-heading">Change settings</h3>
    <button class="collapsible" value="email">Change My Email Address
    </button>
    <button class="form-field collapsible" value="password">
    Change My Password</button>
    <div class="form-field email-content" hidden>
      <div>
        <label>New Email Address
          <input type="email" name="email1" id="new-email1"
          class="new-email email" disabled>
        </label>
      </div>
      <div>
        <label>Confirm New Email Address
          <input type="email" name="email2" id="new-email2"
          class="new-email email" disabled>
        </label>
      </div>
      <div>
        <label>Password to confirm
          <input type="password" name="confirm-password" id="confirm-password"
          class="email" disabled>
        </label>
      </div>
      <button class="btn-email" type="submit">Save</button>
    </div>
    <div class="password-content" hidden>
      <div>
        <label>Old Password
          <input type="password" name="old-password" id="old-password"
          class="password" disabled>
        </label>
      </div>
      <div>
        <label>New Password
          <input type="password" name="password1" id="new-password1"
          class="password" disabled>
        </label>
      </div>
      <div>
        <label>Confirm New Password
          <input type="password" name="password2" id="new-password2"
          class="password" disabled>
        </label>
      </div>
      <button class="btn-password" type="submit">Save</button>
    </div>
    <div class="form-field bio">
      <label>Bio: Who are you?<br>
        <textarea rows="4" name="bio">{{bio}}</textarea>
      </label>
    </div>
    <div class="form-field avatar">
      <label>Upload Avatar
        <input type="file" name="avatar"
        accept=".gif, .jpg, .jpeg, .png, .webp">
      </label>
    </div>
    <div class="form-field background">
      <label>Select a Theme For Your Gallery
        <select name="background">
          <option value="none"></option>
          <option value="/static/themes/circles.jpg">Circles</option>
          <option value="/static/themes/cosmos.jpg">Cosmos</option>
          <option value="/static/themes/gravel.jpg">Gravel</option>
          <option value="/static/themes/paint.jpg">Paint</option>
          <option value="/static/themes/parchment.png">Parchment
          </option>
          <option value="/static/themes/wood.jpg">Wood</option>
          <option value="other">Upload an Image</option>
        </select>
        <div class="form-field background" id="background-block" hidden>
          <label>Upload a Theme Image
            <input type="file" name="background-other" id="background-input"
            accept=".jpg, .jpeg, .png" disabled>
          </label>
        </div>
      </label>
    </div>
    <button class="btn-settings" type="submit">Save</button>
  </form>

  <script src="static/JS/settings.js"></script>
{% endblock %}