<!DOCTYPE html>
<html>
<head>
  <title>JS Functions Testing</title>
  <link rel="shortcut icon" href="/static/my_flavicon.ico">
</head>
<body>

  {% if g.jasmine_tests %}
    <link rel="stylesheet" href="/static/Testing/jasmine.min.css">
    <script src="/static/Testing/jasmine.min.js"></script>
    <script src="/static/Testing/jasmine-html.min.js"></script>
    <script src="/static/Testing/boot.min.js"></script>
    <script src="/static/Testing/test-js.js"></script>
  {% endif %}

</body>
</html>